.jp_tittle_main_company_wrapper {
    background: url('../images/content/pricing_tittle_bg.jpg') 50% 0 repeat-y;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
}
.jp_tittle_img_overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background: #0e1427d9;
}
.jp_tittle_heading h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.jp_tittle_breadcrumb_main_wrapper {
    float: left;
    width: 100%;
    padding-top: 15px;
}
.jp_tittle_breadcrumb_wrapper li:first-child {
    margin-left: 0;
}
.jp_tittle_breadcrumb_wrapper li:last-child {
    color: #23c0e9;
}
.jp_tittle_breadcrumb_wrapper li {
    margin-left: 20px;
    float: left;
}
.jp_tittle_breadcrumb_wrapper li a {
    color: #ffffffa6;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/***------------Profile css starts-------------***/
.profile_column_one {
    background: #f9f9f9;
    padding: 20px;
    margin-top: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #e9e9e9;
}
.profile_column_img {
    border: 1px solid #e9e9e9;
}
.profile_column_img img {
    width: 100%;
    height: auto;
}
.profile_column_text {
    padding-top: 15px;
}
.profile_column_text h2 {
    font-size: 20px;
    color: #344154;
    font-weight: 700;
}
.profile_column_text p {
    padding-top: 10px;
}
.download-btn{
    margin-top: 18px;
    text-align: center;
    line-height: 40px;
    background: #a6e043;
    color: #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 12px;
}
.download-btn:hover {
    background: #fdd014;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #000000;
}

.accordion_wrapper .panel {
    background-color: transparent;
    box-shadow: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    margin-bottom: 15px;
}
.accordion_wrapper .panel-heading h4 {
    font-size: 18px;
    line-height: 24px;
}
.accordion_wrapper .panel .panel-heading a {
    display: block;
    background: rgba(14, 20, 39, 0.8313725490196079);
    padding: 10px;
    color: #fff;
}
.accordion_wrapper .panel .panel-heading a.collapsed {
    color: #fff;
    background: rgba(108, 89, 89, 0.3);
    display: block;
    padding: 10px;
    border-top: 1px solid transparent;
}
.accordion_wrapper .panel .panel-heading a.collapsed {
    background: rgba(14, 20, 39, 0.8313725490196079) !important;
}
.accordion_wrapper .panel .panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 21px 20px 20px 20px;
    background: #eee;
    color: #797979;
    font-size: 16px;
    line-height: 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*tabs css starts*/
.tab-content {
    border: 1px solid #e9e9e9;
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabs-list {
    padding-top: 40px;
}
.tabs-list .nav-tabs {
    margin-top: -18px;
    border: 1px solid #00000026;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.tabs-list .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 25%;
    text-align: center;
}
/*tabs css ends*/
.jb_seeker_wrapper {
    margin-top: 22px;
}

/***------------Profile css ends-------------***/

.accordion_wrapper .panel .panel-heading.bell a:before {
    content: "\f0f3";
    color: #ffffff;
}
.abt_page_2_wrapper .panel .panel-heading.bell a:before {
    color: #fff;
}
.accordion_wrapper .panel .panel-heading a.collapsed:after {
    content: "+";
    color: #fff;
    border: 1px solid #fff;
}
.accordion_wrapper .panel .panel-heading a:after {
    content: "\2212";
    color: #fff;
    border: 1px solid #fff;
}
.accordion_wrapper .panel .panel-heading a:after, 
.accordion_wrapper .panel .panel-heading a.collapsed:after {
    font-size: 14px;
    float: right;
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.accordion_wrapper .panel .panel-heading.bell a.collapsed:before {
    content: "\f0f3";
    color: #ffffff;
}
.abt_page_2_wrapper .panel .panel-heading.bell a.collapsed:before {
    color: #fff;
}
.accordion_wrapper .panel .panel-heading.bell a:before {
    content: "\f0f3";
    color: #ffffff;
}
.accordion_wrapper .panel .panel-heading a:before, 
.accordion_wrapper .panel .panel-heading a.collapsed:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    float: left;
    margin-right: 5px;
}
.abt_page_2_wrapper .panel .panel-heading.bell a:before {
    color: #fff;
}

.table tr td:first-child {
    color: #000;
    font-weight: 600;
}
.jb_seeker_wrapper.stuck {
    position: fixed;
    width: 350px;
    top: 0;
}
.edit_menu_fixed_bottom {
    display: none;
}