
            .jp_cl_job_cont p {
                margin-bottom: 5px;
                padding-top: 10px;
            }
    
            .jp_cl_job_cont h5 {
                font-size: 18px;
                color: #23c0e9;
                padding-top: 10px;
            }
    
            .jp_cs_com_info_wrapper {
                float: left;
                width: 100%;
                background: #f9f9f9;
                padding: 20px;
                margin-top: 25px;
            }
    
            .jp_cs_com_info_img {
                float: left;
                width: 155px;
            }
    
            .jp_cs_com_info_img_cont {
                float: left;
                width: calc(100% - 155px);
                padding-left: 20px;
                padding-top: 40px;
            }
    
            .jp_cs_tittle_main_wrapper {
                padding-bottom: 0;
            }
    
            .jp_cs_com_info_img_cont h3 {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                color: #797979;
            }
    
            .jp_cs_com_info_img_cont p {
                padding-top: 10px;
            }
    
            .jp_job_post_right_overview_btn li:first-child a {
                float: left;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #325046;
                color: #ffffff;
                font-size: 12px;
                text-transform: uppercase;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
    
            .jp_tittle_breadcrumb_wrapper li:first-child {
                margin-left: 0;
            }
    
            .jp_listing_right_bar_btn li:last-child a {
                background: #A6E043;
            }
    
            .flex-wrapper {
                display: flex;
                flex-flow: row nowrap;
            }
    
            .single-chart {
                width: 60px;
                justify-content: space-around;
                margin-left: 0px;
                margin-right: 30px;
            }
    
            .circular-chart.first .circle {
                stroke: #F05B6C;
            }
    
            .circular-chart.second .circle {
                stroke: #FCD32A;
            }
    
            .circular-chart.third .circle {
                stroke: #9FCD4F;
            }
    
            .circular-chart {
                display: block;
                margin: 10px auto;
                max-height: 200px;
            }
    
            .circle-bg {
                fill: none;
                stroke: #eee;
                stroke-width: 2.4;
            }
    
            .circle {
                fill: none;
                stroke-width: 1.4;
                stroke-linecap: round;
                animation: progress 1s ease-out forwards;
            }
    
            @keyframes progress {
                0% {
                    stroke-dasharray: 0 100;
                }
            }
    
            .jp_job_des h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }
    
            .percentage {
                fill: #ffff;
                font-family: sans-serif;
                font-size: 0.5em;
                text-anchor: middle;
            }
    
            .jp_circles p {
                text-align: center;
                color: #ffff;
            }
    
            .bubble-text {
                margin-top: 10px;
            }
    
            .bubble-text .btn {
                background: transparent;
                color: #b6b0b0;
                border: 1px solid #b6b0b0;
                margin-right: 6px;
                line-height: 1;
                padding: 6px 10px;
                border-radius: 20px;
                display: inline;
            }
    
            .bubble-text .active {
                background-color: rgb(182, 176, 176);
                color: #ffffff;
            }
    
            .jp_listing_list_icon_cont_wrapper ul {
                margin-bottom: 12px;
            }
    
            .job-descrption h1,
            .job-descrption h2,
            .job-descrption h3 {
                font-weight: bold;
                color: #000000;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 10px;
            }
    
            .jp_job_res {
                padding-top: 20px;
            }
    
            .jp_job_res h2 {
                font-size: 20px;
                color: #222222;
            }
    
            .jp_job_apply h2 {
                font-size: 20px;
                color: #222222;
                margin-bottom: 10px;
            }
    
            .jp_job_res li i {
                color: #797979;
            }
    
            .jp_job_res li {
                margin-top: 10px;
            }
    
            .job-descrption li {
                margin-top: 10px;
            }
    
            .job-descrption li:first-child {
                margin-top: 0;
            }
    
            .job-descrption li:last-child {
                margin-bottom: 10px;
            }
    
            .jp_listing_right_bar_btn ul {
                margin-top: 0px;
            }           
    
            .jp_listing_overview_list_main_wrapper2 {
                padding-top: 20px;
            }
    
            .jp_job_apply {
                float: left;
                width: 100%;
                padding-top: 30px;
            }
    
            .jp_rightside_job_categories_heading {
                background: #353A4A;
            }
    
    
            .jp_rightside_listing_single_wrapper {
                float: left;
                width: 100%;
                border: 1px solid #e9e9e9;
                background: #ffffff;
            }
    
            .jp_jop_overview_img_wrapper {
                text-align: center;
            }
    
            .jp_job_listing_single_post_right_cont_wrapper h4 {
                font-size: 16px;
                color: #000000;
                font-weight: bold;
                padding-top: 20px;
            }
    
            .jp_job_listing_single_post_right_cont_wrapper p {
                font-size: 16px;
                color: #23c0e9;
                padding-top: 10px;
            }
    
            .jp_job_listing_single_post_right_cont {
                float: left;
                width: 100%;
                text-align: center;
            }
    
            .jp_job_post_right_overview_btn_wrapper {
                text-align: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #e9e9e9;
            }
    
            .jp_rightside_listing_single_wrapper {
                float: left;
                width: 100%;
                border: 1px solid #e9e9e9;
                background: #ffffff;
            }
    
            .jp_jop_overview_img_wrapper {
                text-align: center;
            }
    
            .jp_job_listing_single_post_right_cont_wrapper p {
                font-size: 16px;
                color: #23c0e9;
                padding-top: 10px;
            }
    
            .jp_job_listing_single_post_right_cont {
                float: left;
                width: 100%;
                text-align: center;
            }
    
            .jp_listing_overview_list_outside_main_wrapper {
                float: left;
                width: 100%;
                padding: 0px 50px 20px 50px;
            }
    
            .jp_listing_list_icon {
                float: left;
                width: 20px;
            }
    
            .jp_listing_list_icon i {
                color: #ff5353;
            }
    
            .jp_listing_list_icon_cont_wrapper {
                float: left;
                width: calc(100% - 20px);
                padding-left: 10px;
            }
    
            .jp_listing_list_icon_cont_wrapper li:first-child {
                font-weight: bold;
                color: #000000;
            }
    
            .jp_listing_overview_list_main_wrapper2 {
                padding-top: 20px;
            }
    
            .jp_listing_right_bar_btn li:last-child a {
                float: left;
                width: 230px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: bold;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }
    
            .jp_job_post_right_overview_btn li {
                float: left;
                margin-left: 20px;
            }
    
            .jp_listing_left_sidebar_wrapper {
                float: left;
                width: 100%;
                background: #ffffff;
                border: 1px solid #e9e9e9;
                padding: 20px 60px 20px 60px;
            }
    
            .jp_job_post_right_overview_btn li {
                float: left;
                margin-left: 20px;
            }
    
            *,
            ::after,
            ::before {
                box-sizing: border-box;
            }
    
            user agent stylesheet li {
                display: list-item;
                text-align: -webkit-match-parent;
            }
    
            .jp_job_post_right_overview_btn li:last-child a {
                float: left;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #ffffff;
                font-size: 12px;
                text-transform: uppercase;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                background: #A6E043;
            }
    
            .jp_job_post_right_overview_btn ul {
                display: inline-block;
            }
    
            .jp_listing_right_bar_btn_wrapper {
                float: left;
                width: 100%;
                text-align: center;
                margin-top: 5px;
            }
    
            .jp_listing_single_main_wrapper {
                float: left;
                width: 100%;
                background: #f9f9f9;
                padding-top: 60px;
                padding-bottom: 60px;
            }
    
            .jp_top_header_img_wrapper {
                float: left;
                width: 100%;
                background: #ffffff;
            }
    
            .jp_tittle_main_wrapper {
                background: url(../images/content/pricing_tittle_bg.jpg) 50% 0 repeat-y;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center 0;
                position: relative;
                float: left;
                width: 100%;
                padding-top: 100px;
                padding-bottom: 100px;
            }
    
            .jp_tittle_img_overlay {
                position: absolute;
                top: 0%;
                right: 0%;
                left: 0%;
                bottom: 0%;
                background: #0e1427d9;
            }
    
            .jp_tittle_heading h2 {
                font-size: 36px;
                color: #ffffff;
                font-weight: bold;
            }
    
            .jp_rightside_job_categories_wrapper {
                float: left;
                width: 100%;
                margin-top: 0px;
                border-radius: 10px;
            }
    
            a:hover,
            a:focus {
                color: #707070;
                text-decoration: none;
                outline: none;
            }
    
            .jp_listing_left_bottom_sidebar_wrapper {
                float: left;
                width: 100%;
                border: 1px solid #e9e9e9;
                background: #ffffff;
                border-top: 0;
                padding: 0px 60px 5px 60px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .jp_right_side_cont{
                margin-top:15px;
            }
    
            .jp_listing_left_bottom_sidebar_social_wrapper li:first-child {
                margin-left: 0;
                color: #000000;
                font-weight: bold;
                margin-top: 12px;
            }
    
            .jp_listing_left_bottom_sidebar_social_wrapper li a {
                float: left;
                width: 50px;
                height: 50px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background: transparent;
                text-align: center;
                line-height: 50px;
                color: #797979;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }
    
            .jp_listing_related_heading_wrapper h2 {
                font-size: 20px;
                color: #000000;
                font-weight: bold;
                position: relative;
                text-transform: uppercase;
            }
    
            .jp_listing_related_heading_wrapper h2:before {
                content: '';
                border: 1px solid #23c0e9;
                width: 8px;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
    
            .jp_listing_related_heading_wrapper h2:after {
                content: '';
                border: 1px solid #23c0e9;
                width: 30px;
                position: absolute;
                bottom: -15px;
                left: 11px;
            }
    
            .jp_listing_related_heading_wrapper {
                float: left;
                width: 100%;
                margin-top: 60px;
            }
    
            .jp_job_post_side_img {
                float: left;
                width: 105px;
            }
    
            .jp_job_post_right_btn_wrapper li:first-child a {
                display: inline-block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #a6e043;
                color: #0e1427d4;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                transition: all 0.5s;
            }
    
            .jp_job_post_right_btn_wrapper li:last-child a {
                display: inline-block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: transparent;
                color: #353b4a;
                font-size: 12px;
                text-transform: uppercase;
                border: 1px solid #353b4a;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                transition: all 0.5s;
            }
    
            .jp_job_post_right_cont {
                float: right;
                width: 200px;
                padding-left: 0px;
                padding-top: 0px;
            }
    
            .jp_job_post_grid_right_btn_wrapper ul {
                float: right;
                display: inline-flex;
                margin-top: 20px;
    
            }
    
            .jp_job_post_main_wrapper {
                border: 1px solid #e9e9e9;
                border-radius: 10px;
                border-bottom-color: #e9e9e9;
            }
    
    
            .jp_listing_related_slider_wrapper .owl-theme .owl-nav {
                position: absolute;
                top: -46px;
                margin: 0;
                left: 0;
                right: 0;
                z-index: 1000;
                display: block;
            }
    
            .jp_listing_related_slider_wrapper .owl-theme .owl-nav .owl-prev {
                font-size: 12px;
                float: left;
                width: 60px;
                height: 30px;
                line-height: 30px;
                background: #ffffff;
                margin-top: 25px;
                padding: 0;
                right: 75px;
                top: 0;
                color: #000000;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border: 1px solid #e9e9e9;
                position: absolute;
                text-align: center;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }
    
            .jp_listing_related_slider_wrapper .owl-theme .owl-nav .owl-next {
                font-size: 12px;
                float: left;
                width: 60px;
                height: 30px;
                line-height: 30px;
                margin-top: 25px;
                padding: 0;
                right: 0;
                top: 0;
                right: 0;
                position: absolute;
                color: #000000;
                background: #ffffff;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border: 1px solid #e9e9e9;
                text-align: center;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }
    
            .jp_listing_left_sidebar_wrapper_heading {
                float: left;
                width: 100%;
                background: #0e1427d4;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 20px;
                -webkit-border-top-left-radius: 10px;
                -moz-border-top-left-radius: 10px;
                border-top-left-radius: 10px;
                -webkit-border-top-right-radius: 10px;
                -moz-border-top-right-radius: 10px;
                border-top-right-radius: 10px;
            }
    
            .jp_listing_left_sidebar_wrapper_heading h4 {
                font-size: 16px;
                color: #fff;
            }
    
            .owl-carousel .owl-nav .owl-prev,
            .owl-carousel .owl-nav .owl-next,
            .owl-carousel .owl-dot {
                font-family: 'fontAwesome';
    
            }
    
            .owl-carousel .owl-nav .owl-prev:before {
                content: "\f053";
            }
    
            .owl-carousel .owl-nav .owl-next:after {
                content: "\f054";
            }
    
            .jp_rightside_job_categories_heading {
                margin-bottom: 10px;
            }
    
            .jp_listing_right_bar_btn li:first-child a {
                float: left;
                width: 230px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: bold;
                background: #23c0e9;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
                margin-bottom: 15px;
            }
    
            .jp_cs_com_info_wrapper {
                float: left;
                width: 100%;
                background: #f9f9f9;
                padding: 20px;
                margin-top: 25px;
            }
    
            .jp_tittle_breadcrumb_wrapper li a {
                color: #ffffffa6;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }
    
            .jp_tittle_breadcrumb_main_wrapper {
                float: left;
                width: 100%;
                padding-top: 25px;
            }
    
            .jp_cs_com_info_img_cont {
                float: left;
                width: calc(100% - 155px);
                padding-left: 20px;
                padding-top: 40px;
            }
    
            .jp_cs_com_info_img_cont h2 {
                font-size: 18px;
                color: #344154;
            }
    
            .jp_cs_com_info_img_cont p {
                padding-top: 10px;
            }
    
            .jp_tittle_breadcrumb_wrapper li:last-child {
                color: #23c0e9;
            }
    
            .jp_tittle_breadcrumb_wrapper li {
                margin-left: 20px;
                float: left;
            }
            .jp_tittle_main_wrapper {
                background: url('../images/content/pricing_tittle_bg.jpg') 50% 0 repeat-y;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center 0;
                position: relative;
                float: left;
                width: 100%;
                padding-top: 100px;
                padding-bottom: 0px;
            }
        