.advance_search_target input {
    border-radius: 15px;
    border: transparent;
    padding: 10px;
    height: 50px;
    width: 100%;
}
.advance_search_target label {
    color: #fff;
}
.advance_search_target .first_icon {
    position: absolute;
    top: 46px;
    font-size: 20px;
    left: 30px;
    z-index: 1;
    color: #0e1427d4;
}
.advance_search_target .second_icon{
    margin-left: -30px;
    position: absolute;
    top: 48px;
}
.advance_search_target .blueBtn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #a6e043;
    color: #0e1427d4;
    /* line-height: 50px; */
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border: none;
    padding: 14px 22px;
}
.advance_search_target .irs--flat .irs-bar, 
.advance_search_target .irs--flat .irs-from, 
.advance_search_target .irs--flat .irs-to, 
.advance_search_target .irs--flat .irs-single {
    background-color: #a6e043;
}
.advance_search_target .irs--flat .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #a6e043;
}
.advance_search_target .irs--flat .irs-from:before, 
.advance_search_target .irs--flat .irs-to:before, 
.advance_search_target .irs--flat .irs-single:before {
    border-top-color: #a6e043;
}
.advance_search_target .irs--flat .irs-grid-text {
    color: #fff;
}
.advance_search_target .irs--flat .irs-min, 
.advance_search_target .irs--flat .irs-max {
    color: #000;
}
.advance_search_target .irs--flat .irs-from, 
.advance_search_target .irs--flat .irs-to, 
.advance_search_target .irs--flat .irs-single {
    color: #000000;
}